@font-face {
    font-family: "SM";
    /* Nom de la police que tu vas utiliser */
    src: url("../fonts/SM.TTF") format("truetype");
    /* Chemin vers le fichier */
}

@font-face {
    font-family: "WHAM";
    /* Nom de la police que tu vas utiliser */
    src: url("../fonts/space-wham.ttf") format("truetype");
    /* Chemin vers le fichier */
}

body {
    margin: 0;
    background-image: url("../Images/fond5.jpg");
    background-repeat: no-repeat;
    background-position: top center center;
    background-size: cover;
    background-attachment: scroll;
    font-family: "WHAM";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Header*/
header {
    padding: 20px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #916fa0;
}


/*Main*/

.menu {
    display: flex;
    gap: 20px
}

main {
    flex: 1;
    color: white;
    padding: 50px ;
}


h1 {
    text-align: center;
    font-family: "SM";
}


.titre {
    color: #916fa0;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}

.double{
    text-align: center;
}

.double>div{
    margin-bottom: 50px
}

.double>div>div:first-child {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "SM";
    font-size: 20px;
    color: #916fa0;
}

.double>div>div:last-child>div{
    margin-bottom: 16px;
    text-align: center;
}

.double>div>div:last-child{
    border: solid 2px white;
    border-radius: 12px;
    padding: 12px;
    backdrop-filter: blur(10px);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


/*Style du footer*/
footer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    opacity: 45%;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.centre {
    margin-top: auto;
}

.gauche {
    text-align: center;
    margin-top: auto;
}

.droite {
    text-align: center;
}