body{
    margin: 0;
    background-image: url("../Images/fond5.jpg");
    background-repeat: no-repeat;
    background-position: top center center;
    background-size: cover;
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
}

/*Header*/
header{
    padding: 24px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none; 
    color: white; 
}

a:hover{
    text-decoration: none; 
    color: #f8c32f;
}

/*Main*/

.menu{
    display: flex;
    gap: 20px
}

main{
    flex: 1;
    color: white;
    padding: 100px;
}

main>div{
    padding-top: 20px;
}

h1{
    text-align: center
}


.titre{
    color: red;
    font-weight: bolder;
    font-size: 20px;
    text-align: center
}



/*Style du footer*/
footer{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    opacity: 45%;
    margin-bottom: 0;
}

.centre{
    margin-top: auto;
}

.gauche{
    text-align: center;
    margin-top: auto;
}

.droite{
    text-align: center;
}