/*Ajout des polices d'écritures*/
@font-face {
    font-family: "SM"; /* Nom de la police que tu vas utiliser */
    src: url("../fonts/SM.TTF") format("truetype"); /* Chemin vers le fichier */
}

@font-face {
    font-family: "WHAM"; /* Nom de la police que tu vas utiliser */
    src: url("../fonts/space-wham.ttf") format("truetype"); /* Chemin vers le fichier */
}

/*Ajout du scroll smooth*/
html{
    scroll-behavior: smooth;
}

/*Style du body*/
body{
    margin: 0;
    background-image: url("../Images/fond5.jpg");
    background-repeat: no-repeat;
    background-position: top center center;
    background-size: cover;
    background-attachment: scroll;
    font-family: "WHAM";
}

/*Header*/
header{
    padding: 20px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none; 
    color: white; 
}

a:hover{
    text-decoration: none; 
    color: #916fa0;
}


.menu{
    display: flex;
    gap: 20px
}

/*Style pour les cases contenant les SAE*/

h1{
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 24px;              
    max-width: 60%;         
    margin: 0 auto;      
}


.cases{
    border: solid 3px white;
    border-radius: 16px;
    margin: 24px;
    padding: 32px;
    width: 200px;
    text-align: center;
    background-color: rgba(175, 175, 175, 0.5);

    transition: transform 0.5s;

}

.cases:hover{
    background-color: rgba(125, 125, 125, 0.5);
    box-shadow: 3px 3px 15px 5px  black;

    transform: scale(1.1);
}


.competences_sae{
    border: solid 2px white;
    border-radius: 16px;
    padding: 12px;
    color: white;
    background-color: rgba(90, 90, 90, 0.5);
}



.num_sae{
    font-weight: bolder;
    color: white;
}

.titre_sae{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}



/*Style pour le bouton qui mène en haut de la page*/
.haut{
    margin-left: 90%;
    margin-bottom: 3%;
}

.haut>a{
    display: inline-flex;           
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;            
    color: white;                  
    border: 3px solid white;
}

.haut>a:hover{     
    color: white;                  
    border-color: #916fa0;
    box-shadow: 0px 0px 10px 5px #916fa0; 
}



/*Style du footer*/
footer{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    opacity: 45%;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.centre{
    margin-top: auto;
}

.gauche{
    text-align: center;
    margin-top: auto;
}

.droite{
    text-align: center;
}