body{
    margin: 0;
    background-image: url("../Images/fond5.jpg");
    background-repeat: no-repeat;
    background-position: top center center;
    background-size: cover;
    background-attachment: scroll;
}

header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

main>div{
    display: flex;
    justify-content: center;
}

main>div>div{
    border: solid 3px white;
    border-radius: 16px;
    margin: 24px;
    padding: 32px;
}