/*Ajout du scroll smooth*/
html{
    scroll-behavior: smooth;
}

/*Style du body*/
body{
    margin: 0;
    background-image: url("../Images/fond5.jpg");
    background-repeat: no-repeat;
    background-position: top center center;
    background-size: cover;
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

/*Style du header*/
header{
    padding: 24px;
    font-size: 20px;
    color: white;
    display: flex;
}

.SAE{
    margin-right: 47%;
    margin-left: auto;
}

/*Style pour les cases contenant les SAE*/

a{
    text-decoration: none;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 24px;              
    max-width: 60%;         
    margin: 0 auto;
          
}


.cases{
    border: solid 3px white;
    border-radius: 16px;
    margin: 24px;
    padding: 32px;
    width: 150px;
    text-align: center;
}


.num_sae{
    font-weight: bolder;
    color: white;
}

.titre_sae{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.competences_sae{
    border: solid 2px white;
    border-radius: 16px;
    padding: 12px;
    color: white;
}


/*Style pour le bouton qui mène en haut de la page*/
.haut{
    margin-left: 90%;
    margin-bottom: 3%;
}

.haut>a{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 100%;
    padding: 15px 7px 5px 7px;
}

.haut>a:hover{
    border: solid 4px rgb(255, 255, 255);
    border-radius: 100%;
    padding: 15px 7px 5px 7px;
    height: 26px;
    width: 26px;
}



/*Style du footer*/
footer{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    opacity: 45%;
    margin-top: 100px;
}

.centre{
    margin-top: auto;
}

.gauche{
    text-align: center;
    margin-top: auto;
}