@font-face {
    font-family: "SM"; /* Nom de la police que tu vas utiliser */
    src: url("../fonts/SM.TTF") format("truetype"); /* Chemin vers le fichier */
}

@font-face {
    font-family: "WHAM"; /* Nom de la police que tu vas utiliser */
    src: url("../fonts/space-wham.ttf") format("truetype"); /* Chemin vers le fichier */
}

/*Style pour le scroll smooth*/
html{
    scroll-behavior: smooth;
}

/*Style du body, avec l'image de fond*/
body{
    margin: 0;
    background-image: url("../Images/fond5.jpg");
    background-repeat: no-repeat;
    background-position: top center center;
    background-size: cover;
    background-attachment: scroll;
    font-family: "WHAM";
}

/*Header*/
header{
    padding: 20px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none; 
    color: white; 
}

header a:hover{
    text-decoration: none; 
    color: #916fa0;
}

.menu{
    display: flex;
    gap: 20px
}


/*Titre central*/
.nom{
    margin: 82px;
    color: white;
    padding: 24px;
    text-align: center;
    font-size: 30px;
    font-family: "SM", sans-serif;
    min-height: 50vh;
}


/*Style pour les 3 parties textuelles*/
.presentation>div{
    margin: 200px;
    color: white;
    padding: 24px;
    margin-right: 32%;
    margin-left: 32%;
    font-size: 16px;
    font-family: "WHAM";
    
}

.presentation>div>div>div{
    font-size: 32px;
    font-family: "SM", sans-serif;
    text-align: center;
}

.placement{
    min-height: 40vh;
}

/*Bouton pour aller au sommaire*/

.bouton{
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 24px;
    padding: 24px;
    font-size: 16px;
    width: fit-content;
    display: inline-block;
    transition: transform 0.5s ease;    
}


.bouton:hover{
    border: solid 2px #916fa0;
    color: #916fa0;
    box-shadow: 2px 2px 10px 8px;
    
    transform: scale(1.4);
}

.centrage-bouton{
    text-align: center
}


/*Bouton pour aller en haut de la page*/
.haut{
    margin-left: 90%;
    margin-bottom: 3%;
}


.haut>a{
    display: inline-flex;           
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;            
    color: white;                  
    border: 3px solid white;
}

.haut>a:hover{     
    color: white;                  
    border-color: #916fa0;
    box-shadow: 0px 0px 10px 5px #916fa0; 
}




/*Style du footer*/
footer{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
    opacity: 45%;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.centre{
    margin-top: auto;
}

.gauche{
    text-align: center;
    margin-top: auto;
}

.droite{
    text-align: center;
}

