body{
    margin: 0;
    background-image: url("../Images/fond5.jpg");
    background-repeat: no-repeat;
    background-position: top center center;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: scroll;
}

header{
    padding: 24px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.bouton-header>a {
    text-decoration: none; 
    color: white; 
}

.bonjour{
    margin: 150px;
    color: white;
    padding: 24px;
    text-align: center;
    font-size: 32px
}

.presentation{
    margin: 200px;
    color: white;
    border: solid 5px white;
    border-radius: 24px;
    padding: 24px;
    margin-right: 32%;
    margin-left: 32%;
    font-size: 24px
}



.bouton>a{
    border: solid 2px black;
    border-radius: 24px;
    color: white;
    background-color: black;
    padding: 24px;
    text-decoration: none;
    
}