body{
    margin: 0;
    background-image: url("../Images/fond-galaxy.jpg");
    background-repeat: no-repeat;
    background-position: top center center;
    background-attachment: fixed;
    background-size: cover;
}

header{
    padding: 10px;
     
}


